<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326558222493-8diduu4b55ud51v7tus7ghkbrslur07l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326558222493-8diduu4b55ud51v7tus7ghkbrslur07l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>326558222493-nio27lijlv1tjmvs0er56cr7e5rvvm5n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAL6LD2TeXGwZCG8ykGrP4pw-Y8_HmpgA8</string>
	<key>GCM_SENDER_ID</key>
	<string>326558222493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodhub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-hub-54593</string>
	<key>STORAGE_BUCKET</key>
	<string>food-hub-54593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326558222493:ios:84fb87d63793233c1fac74</string>
</dict>
</plist>